# Tuple & Tuple Operator

## Tuple 생성하기

In [ ]:
t1 = ()
print(t1)

t2 = (1,)
print(t2)

t3 = (1, 2, 3, 4)
print(t3)

t4 = ('a', 'b', (1, 2))
print(t4)

t5 = (1, 2, ['a', 'b', 'c'])
print(t5)

()
(1,)
(1, 2, 3, 4)
('a', 'b', (1, 2))
(1, 2, ['a', 'b', 'c'])

리스트는 대괄호[ ]로 묶는 반면에 튜플은 괄호( )로 묶음  
리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 값을 변경할 수 없다.

In [ ]:
t1 = (1, 2, 3, 4)
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t1 = (1, 2, 3, 4)
t1[0] = 'a'

TypeError: 'tuple' object does not support item assignment

## Tuple Operator

### Tuple 더하기

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print(t1 + t2)

(1, 2, 3, 4, 5, 6)

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

t1 = t1 + t2

print(t1)

(1, 2, 3, 4, 5, 6)

In [ ]:
print(type(t1))

<class 'tuple'>

### Tuple 곱하기

In [ ]:
t1 = (1, 2, 3)

print(t1 * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
t1 = (1, 2, 3)
t1 = t1 * 3

print(t1)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Tuple Indexing & Slicing

## Indexing

In [3]:
t1 = (1, 2, 3, 4)
print(t1[0])

1

## Slicing

In [7]:
t1 = (1, 2, 3, 4, 5, 6)
print(t1[3:])

(4, 5, 6)

In [6]:
t1 = (1, 2, 3, 4, 5, 6)
t2 = t1[3:]

print(t2)

(4, 5, 6)

In [9]:
t1 = (1, 2, 3, 4, 5, 6)
t1 = t1[3:] #???

print(t1)

(4, 5, 6)

(4, 5, 6)

# Tuple Function & Method

## Tuple Functions

In [16]:
t1 = (1, 2, 3, 4, 5)

print(len(t1)) # Tuple 길이 반환

5

In [17]:
t1 = (1, 2, 3, 4, 5)

print(max(t1)) # Tuple 최대 요소 반환
print(min(t1)) # Tuple 최소 요소 반환

5
1

In [18]:
t1 = ('a', 'b', 'c', 'd', 'e')

print(max(t1))
print(min(t1))

e
a

In [20]:
t1 = ('a', 'A', 'b', 'B')

print(max(t1))
print(min(t1))

b
A

## Tuple Methods

In [24]:
t1 = (1, 2, 3, 1, 1, 3, 2, 4, 5, 2, 1, 4, 4, 3, 4, 5)

print(t1.count(2)) # Tuple의 요소들 중 2의 값인 요소 갯수
print(t1.count(4))

3
4

In [23]:
t1 = ('a', 'b', 'c', 'd', 'e')

print(t1.index('b'))

1